main {
    width: 70%;
    background-color: #F6D7A7;
    padding-left: 2px;
    border: 3px solid #000000;
}

aside {
    width: 25%;
    min-width: 200px;
    margin-left: 1em;
    background-color: #C8E3D4;
    align-items: center;
    padding-left: 1px;
    border: 3px solid #000000;
}

.cv {
    display: flex;
}

.extra {
    padding-left: 17px;
}

.main-pic {
    padding: 5px 50px 5px 2.5px;
    width: 300px;
    height: 275px;
}

.img {
    height: 300px;
}

.header>.CV {
    padding-left: 100%;
}

.info>.head {
    padding: 20px 20px 20px 20px;
    display: grid;
    font-size: 20px;
    height: 295px;
}

.name {
    font-size: 40px;
}

.links {
    padding-top: 20px;
    padding-bottom: 40px;
}

.head {
    border: 3px solid #00000;
}

hr {
    border-top: 10px solid #000000;
}

.Date {
    padding-top: 20px;
    padding-left: 600px;
}

.references {
    padding-top: 400px;
}

@media (min-width: 360px) and (max-width:640px) {
    main {
        width: 175%;
    }
    aside {
        padding: 3px;
        width: 125%;
    }
    .info>.head {
        padding-bottom: 500px;
        display: grid;
        font-size: 20px;
        height: 295px;
    }
    .Date {
        padding-left: 50px;
    }
    .main-pic {
        width: 250px;
        height: 195px;
    }
    .header>.CV {
        padding-left: 70px;
    }
}

@media (min-width: 768px) {
    .main-pic {
        width: 250px;
        height: 250px;
    }
    .Date {
        padding-left: 50px;
    }
    link {
        padding: 50px 50px 50px 50px;
    }
    .header>.CV {
        padding-left: 100px;
    }
}

@media (min-width: 320px) and (max-width: 568px) {
    main {
        width: 175%;
    }
    aside {
        width: 120%;
    }
    .Date {
        padding-left: 50px;
    }
    .info>.head {
        padding-bottom: 500px;
        display: grid;
        font-size: 20px;
        height: 295px;
    }
    .main-pic {
        width: 250px;
        height: 195px;
    }
    .header>.CV {
        padding-left: 30px;
    }
}

@media (min-width: 280px) and (max-width: 653px) {
    main {
        width: 175%;
    }
    aside {
        width: 120%;
    }
    .Date {
        padding-left: 50px;
    }
    .info>.head {
        padding-bottom: 500px;
        display: grid;
        font-size: 20px;
        height: 295px;
    }
    .main-pic {
        width: 250px;
        height: 195px;
    }
    .header>.CV {
        padding-left: 8px;
    }
}

@media (min-width: 1024px) {
    .header>.CV {
        padding-left: 500px;
    }
    .Date {
        padding-left: 50px;
    }
}